.container {

}

h1 {
    font-size: 36px;
    font-weight: unset;
    position: relative;
    bottom: 100px;
    width: 210px;
    margin-bottom: 30px;
}

input {
    width: 800px;
    flex-direction: column;
    box-shadow: inset 0 2px 1px rgb(0 0 0 / 30%);
    border: none;
    padding: 10px;
    margin-top: 10px;
}

label {
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    margin-top: 5px;
}

h1 {
    color: var(--cinza-botao);
}

form {
    display: flex;
    background-color: var(--cinza);
    width: 1197px;
    height: 500px;
    padding: 10px;
    position: relative;
    align-items: center;
    left: 32px;
    border-radius: 10px;
    margin-top: 20px;
}

button {
    color: white;
    background-color: var(--cinza-botao);
    height: 30px;
    width: 150px;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    flex-direction: inherit;
}

.cancelar {
    background-color: var(--branco);
    color: var(--cinza-botao);
    font-weight: bolder;
}

botao {
    display: flex;
    justify-content: space-between;
}