

h1 {
    display: flex;
    position: relative;
    top: 10px;
    width: 90px;
}

form {
    display: flex;
    flex-direction: column;
    background-color: var(--cinza);
    width: 90%;
    height: 686px;
    margin: 10px;
    align-items: center;
}

button {
    color: white;
    background-color: var(--cinza-botao);
    height: 30px;
    width: 150px;
    border-radius: 5px;
    font-size: 15px;
}

label {
    display: block;
    text-align: center;
}